@CHARSET "UTF-8";

global {
  modalTransparency: 0.7;
  modalTransparencyColor: black;
  modalTransparencyDuration: 150;
}

Panel {
   roundedBottomCorners: true;
   cornerRadius: 5;
   width: '100%';
   height: '100%';
}

FormItemLabel {
  font-weight: bold;
}

.sensible {
  fillColors: haloOrange, red;
  color: white;
}
